[Desktop Entry]
Name=CleanLinuxpc
Comment=Clean and optimize your Linux system
Comment[ar]=تنظيف وتحسين نظام لينكس الخاص بك
Exec=CleanLinuxpc
Icon=com.linuxlaghouatalgeria.CleanLinuxpc
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=clean;optimize;linux;laghouat;
StartupNotify=true
